h3 {color: blue;
    font-family: 'Sixtyfour', sans-serif;}
.div1 {background-color: rgb(21, 22, 22);}
#resume1 {background-color: blueviolet;}
#work1 {background-color: blueviolet;}
#mail1 {background-color: blueviolet;}
#back1 {background-color: black;}
